<div class="button-group mb-3">
    <h5 class="text-muted text-center mt-3">Filtrar</h5>
    <div class="btn-group-vertical">
        <a class="btn btn-primary mb-1" href="?page=1&?sort=name" tabindex="-1">
            Nome
        </a>
        <a class="btn btn-primary mb-1" href="?page=1&?sort=brand" tabindex="-1">
            Marca
        </a>
        <a class="btn btn-primary mb-1" href="?page=1&?sort=fermentative_profile" tabindex="-1">
            Perfil <br> Fermentativo
        </a>
        <a class="btn btn-primary mb-1" href="?page=1&?sort=next_reinnoculation_limit_date" tabindex="-1">
            Próximo Repique
        </a>
    </div>
</div>